* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.card {
  border: 2px red solid;
  align-items: center;
  text-align: center;
  margin: auto;
}

.icon {
  height: 50px;
  width: 50px;
}

.score {
  display: flex;
  justify-content: space-between;
}
